.quickFacts-container {
    /* background-color: #577399; */
    /* height: 100%; */
    text-align: center;
    font-size: 150%;
    display: grid;
    grid-template-columns: 100%;
    margin-top: 15%;
    margin-left: -40%;
    height: 71vh;
    background-color: royalblue;

}
@media only screen and (max-width: 1300px) {
    .quickFacts-container {
        /* background-color: red; */
        width: 100vw;
        height: 10vh;

        margin-top: 1%;
        margin-left: .1%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
}

.case-num{
    color: rgb(218, 0, 0);
    font-weight: bolder;
    /* grid-column: 1/2; */
}

.death-num {
    color: rgb(245, 240, 224);
    font-weight: bolder;
    /* grid-column: 2/3; */
}

.rec-num{
    color: rgb(1, 253, 14);
    font-weight: bolder;
    /* grid-column: 3/4; */
}