.homePage-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    background-color: #022F40;
    color: white;
    height: 300vh;
}

.quickFact-div {
    grid-column: 1/5;
    grid-row: 1/2;
    width: 90vw;
    margin: 0 auto;
    margin-top: 2%;
    /* height: 66%; */
    /* margin-left: 5%; */
    /* background: red; */
}

.allCountries-div {
    grid-column: 1/5;
    grid-row: 3/4;
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    background: black;
    overflow: scroll;
    margin-top: -1200px;
    /* padding-bottom: 20%; */
}

.GoogleMap-div {
    grid-column: 1/5;
    grid-row: 4/5;
    width: 100vw;
    /* height: 85vh; */
    margin: 0 auto;
    background: lightgray;
    overflow: scroll;
    margin-top: -500px;
    /* margin-bottom: 20%; */
}

/* .chart-div {
    grid-column: 1/5;
    grid-row: 3/4;
} */