.allCountries-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.searchCountry-input-div {
    position: absolute;
    width: 90%;
    float: right;
    /* grid-column: 2/4; */
    grid-row: 1/2;
    height: 50px;
    margin: 0 auto;
    margin-top: -5%;
    /* background-color: red; */
}

.searchCountry-input-div  input{
    float: right;
    height: 50%;
    width: 50%;
    font-size: 20px;
    text-align: center;
    /* margin-left: 5%; */
    margin-top: 1%;
}

.displayCountries-div {
    grid-column: 1/5;
    grid-row: 2/3;
}

.display-search-country-div {
    grid-column: 1/5;
    grid-row: 2/3;
    margin-top: 5%;
}

.google-map-div {
    position: absolute;
    margin-top: 110vh;
    /* grid-column: 1/5; */
    /* grid-row: 4/5; */
    /* width: 90vw;
    height: 100vh;
    margin: 0 auto; */
    /* background: red; */
    /* overflow: scroll; */
    /* margin-top: 5%; */
    /* background-color: green; */
}